
.background {
    background: #1d1d1d;
}

.title {
    text-align: center;
    float: center;
    margin: auto;
    height: 40px;
    padding-bottom: 0;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

.intro {
    text-align: center;
    float: center;
    margin: auto;
    font-weight: lighter;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

.search-bar {
    text-align: center;
    border-radius: 15px;
    width: 450px;
    height: 55px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 312.5px;
    
    
}
.tile {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;    
    line-height: 60px; 
    width: 95%;    
}

.cube1 {
    height: 200px;
    width: 220px;
    background-color: #C12C2C;
    text-align: center;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    font-family: 'Masiku', sans-serif;
}

.cube2 > h2 {
    font-size: 35;
    margin-top: 18px;
}

.cube2 {
    height: 200px;
    width: 220px;
    background-color: #FFAA2C;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    font-family: 'Nevermine', sans-serif;
}

.cube3 {
    height: 200px;
    width: 220px;
    background-color: #EFF23B;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    font-family: 'Norda', sans-serif;    
}

.cube4 {
    height: 200px;
    width: 220px;
    background-color: #6EBC52;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
   
    font-family: 'Dish Out', sans-serif;    
}
.cube5 {
    height: 200px;
    width: 220px;
    background-color: #4FB5EE;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    font-family: 'Rubik Glitch', cursive;
    font-weight: lighter;        
}

.cube5 > h2{
    font-family: 'Rubik Glitch', cursive;
    font-weight: lighter;
}

.cube6 {
    height: 200px;
    width: 220px;
    background-color: #9737C3;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    font-family: 'Moody Adolescent', sans-serif;
}  

.cube1:hover, .cube2:hover, .cube3:hover, .cube4:hover, .cube4:hover, .cube5:hover, .cube6:hover {
    transform: scale(1.2);
    transition-duration: 1s; 
    transition: 1s ease-in 1s;
    transition: padding .5s; 
} 

#panel {
    align-items: center;
    height: 200px;
    width: 400px;
    position: fixed;    
    left: 77%;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background: inherit;
    line-height: 5px;
}

#search-results {
    background-color:rgba(128, 128, 128, 0.365);
    width: 1075px;
    height: 1500px;
    margin-left: 58px;
    margin-top: 22px;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(4, 2fr); 
    background-image: linear-gradient(to bottom right, #1d1d1d, rgb(94, 38, 38));
    color: bisque;
     
}

.container {
    display: flex;
    flex-wrap: wrap;
   
}

.search-results-img {
    display: block;
    object-fit:contain;
    width:200px;
    height:280px;
    padding-bottom: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    
}

.search-results-text {
    size: 20px;
    text-align: center;
    font-weight: bolder;
} 

.description {
    padding-top: 5px;
    text-align: center;  
}

.result {
    text-align: center;
    position: relative;
}

img {
    margin: auto;
}

#toggle {
    color: white;
    font-size: 50px;
}


.button-27 {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
    min-height: 60px;
    padding: 16px 24px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    width: 10%;
    will-change: transform;    
}

.button-27:disabled {
    pointer-events: none;
}

.button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-27:active {
    box-shadow: none;
    transform: translateY(0);
}
a:link{
    color:bisque;
    text-decoration: none;
}
#toggle{
    content: none;
    display: block;
}

  .dark{
    background-color: bisque;
    color: black;
}
#dark-light img
  {color: white;
  font-size: 20px;
  margin: auto;
} summary{
    width: fit-content;
}