
.background {
    background: #1d1d1d;
}
.title {
    text-align: center;
    float: center;
    margin: auto;
    height: 40px;
    padding-bottom: 0;
    font-family: 'IBM Plex Mono', monospace;
}
.intro {
    text-align: center;
    float: center;
    margin: auto;
    font-weight: lighter;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'IBM Plex Mono', monospace;
}
.search-bar {
    text-align: center;

    /* margin-top: 90; */
    width: 450px;
    height: 45px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 312.5px;
    
    
}
.tile {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* grid-gap: 1rem; */
    /* grid-column-gap: 0;
    grid-row-gap: 0; */
    text-align: center;
    /* text-transform: 50% 50% 50%; */
    line-height: 60px; 
    width: 95%;
}

.cube1 {
 height: 200px;
 width: 220px;
background-color: #C12C2C;

/* margin: auto; */
/* margin-top: 50px; */
text-align: center;
box-shadow: 0px 0px 15px black;
border-radius: 10px;
font-family: 'Masiku', sans-serif;
/* text-align: center;
text-transform: 50% 50% 50%; */

}

.cube2 > h2 {
    font-size: 35;
    margin-top: 18px;
}

.cube2{
height: 200px;
width: 220px;
background-color: #EFF23B;
/* margin: auto; */
/* margin-top: 50px; */
box-shadow: 0px 0px 15px black;
border-radius: 10px;
font-family: 'Nevermine', sans-serif;


}
.cube3{
height: 200px;
width: 220px;
background-color: #FFAA2C;
/* margin: auto; */
/* margin-top: 50px; */
box-shadow: 0px 0px 15px black;
border-radius: 10px;
font-family: 'Norda', sans-serif;

    
}
.cube4{
height: 200px;
width: 220px;
background-color: #6EBC52;
/* margin: auto; */
/* margin-top: 50px; */
box-shadow: 0px 0px 15px black;
border-radius: 10px;
font-family: 'Dish Out', sans-serif;

    
}
.cube5{
height: 200px;
width: 220px;
background-color: #4FB5EE;
/* margin: auto; */
/* margin-top: 50px; */
box-shadow: 0px 0px 15px black;
border-radius: 10px;
font-family: 'Rubik Glitch', cursive;
font-weight: lighter        
}
.cube5 > h2{
    font-family: 'Rubik Glitch', cursive;
    font-weight: lighter
;
}
.cube6{
height: 200px;
width: 220px;
background-color: #9737C3;
/* margin: auto; */
/* margin-top: 50px; */
box-shadow: 0px 0px 15px black;
border-radius: 10px;
font-family: 'Moody Adolescent', sans-serif;
}  






.cube1:hover, .cube2:hover, .cube3:hover, .cube4:hover, .cube4:hover, .cube5:hover, .cube6:hover, .cube7:hover, .cube8:hover{
transform: scale(1.2);
transition-duration: 1s; 
transition: 1s ease-in 1s;
transition: padding .5s
} 

#panel {
    align-items: center;
    height: 200px;
    width: 400px;
    position: right;
    /* height: 400px; */
    /* right: 190px; */
    /* width: 400x; */
    /* top: 145; */
    /* bottom: 420px; */
    /* box-shadow: 0px 0px 15px black; */
    /* background: #131313; */
    /* padding: 10px; */
    /* color: white; */
    /* border-radius: 10px; */
    /* transform-origin: 100% 50%; */
    /* transform: translateX(-100%); */
    /* transition: 0.2s ease-in-out; */
    /* outline: 0; */
    margin-left: 200px;
}
button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background: inherit;
    line-height: 5px;
}

#search-results {
    background-color:rgba(128, 128, 128, 0.365);
    width: 1075px;
    height: 1500px;
    margin-left: 58px;
    margin-top: 22px;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(4, 2fr);
    
    
    /* gap: 1rem; */
}

.container {
    display: flex;
    flex-wrap: wrap;
   
}

.search-results-img {
    display: block;
    object-fit:contain;
    width:200px;
    height:280px;
    /* padding-top: 0; */
    padding-bottom: 10px;
    margin-top: -50px;
    margin-bottom: -10px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px; */
}

.search-results-text {
    size: 20px;
    text-align: center;
   /* margin-top: -50px;
   margin-bottom: -50px; */
   font-weight: bolder;
} 
.description {
    padding-top: 5px;
    text-align: center;
}

.result{
    text-align: center;
    /* padding: 20px;
    padding-top: 0px; */
    position: relative;
    /* margin-top: -20px;
    margin-bottom: -50px; */
}
    img{
        margin: auto;
        /* padding-bottom: 10px; */
    }

    #toggel{
        color: white;
        font-size: 50px;
    }